.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid rgb(177, 78, 177);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
